.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.ant-layout-content {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.ant-page-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropDownWrapper {
	width: 400px;
	position: relative;
}

.ant-checkbox-wrapper {
	padding-top: 4px;
	margin-left: 8px;
	margin-bottom: 6px;
}

.dropDownContent {
	display: flex;
	flex-direction: column;
	border: 1px solid #d9d9d9;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
}

.tagsContainer {
	width: 400px;
	min-height: 20px;
	max-height: 100px;
}

.ant-tag {
	margin-bottom: 1px;
}